html{
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}
header{
  display: flex;
  align-items: center;
  position:fixed;
  height: 69px;
  border-bottom: 1px solid seashell;
  width: 100%;
  z-index: 1;
  background-color: black;
}
header nav{
  padding-right: 20px;
}
nav span{
  display: inline-block;
  padding: 0px 10px;
}
a{
  color: seashell;
}
.logo{
  display: flex;
  padding-left: 10px;
  height: 50px;
  flex-grow: 1;
}
.mission{
  display:flex;
  margin: auto;
  background-image: url("../images/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
  align-items: center;
  padding-top: 70px;
}
.mission .text-content{
  background-color: black;
  width: 100%;
}
.tea-of-the-month{
  display: flex;
  width: 1000px;
  margin: auto;
  align-items: center;
  flex-direction: column;
  padding-top: 70px;
}
.tea-of-the-month h2{
  margin-bottom: 15px;
}
.tea-of-the-month h4{
  margin: 10px 0px 15px 0px;
}
.tea-of-the-month img{
  height: 200px;
  width: 300px;
}
.menu-item{
  display:inline-block;
  padding: 10px;
}
.locations{
  display:flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  width: 1200px;
  margin: auto;
  padding-top: 70px;
  background-image: url("../images/img-locations-background.jpg")
}
.locations h2{
  margin: 0px;
}
.address-container{
  display:flex;
}
.address{
  display:inline-block;
  margin: 15px 20px;
  background-color:black;
  width: 300px;
}
.address span{
  display: block;
  padding: 20px;
}
footer{
  display: flex;
  flex-direction: column;
}
.contact{
  height: 200px;
}
.copyright{
  text-align:left;
  padding-left: 20px;
}
